header {
    background-image: url('../assets/Hero-bg.png');
    height: 650px;
    width: 100%;
}

.banner-contents{
    max-width: 996px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 35px 0;
}

header h1 {
    font-size: 50px;
    font-weight: 800px;
    color: var(--dark-1-color);
    line-height: 70px;
    margin-top: 34px;
}

header p {
    color: var(--dark-1-color) ;
    opacity: 0.9;
    line-height: 25px;
    margin: 30px 0px;
}

primary {
    padding: 21px 24px;
    background-color: var(--dark-1-color);
    border-radius: 8px;
}

primary button {
    color: white;
    font-size: 20px;
    background-color: var(--dark-1-color);
    border: none;
}